.button {
    width: 90%;
    padding: 5%;
    border-radius: 50px;
    border: none;
    color: #fff;
    background: #000;
    font-size: 1em;
}

.container-logout {
    display: flex;
    justify-content: space-between;
    padding: 2% 3% 2% 2%;
}

.logout {
    outline: none;
    font-size: 1.4em;
    border: none;
    text-decoration: underline;
    background: #00c0fa00;
    cursor: pointer;
}

.return{
    font-size: 1.4em;
}
.return:visited {
    color: #000;

}