.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.324);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3.5% 0;
}

h1{
    padding: 15px 20px 30px 20px;
}

input{
    margin: 0 2.5% 2.5% 2.5%;
    padding: 3.5%;
    border-radius: 50px;
    border: none;
    width: 80%;
}

button{
    width: 80%;
    padding: 3.5%;
    border-radius: 50px;
    border: none;
    color: #fff;
    background: #000;
    font-size: 1em;
}  