.container-home {
  display: flex;
  margin: 1% 4%;
  justify-content: center;
  align-items: center;
  gap: 8%;
  height: 70vh;
}

.main-home {
  background-color: rgba(255, 255, 255, 0.324);
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.button-home {
  width: 15em;
  background-color: #fff;
  border-radius: 100px;
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 12px auto;
  padding: 25px;
  font-weight: 600;
}

.homerburguer{
  width: 16%;
}



@media (min-width: 769px) and (max-width: 1040px) {
  .homerburguer{
    width: 25%;
  }
}

@media (min-width: 550px) and (max-width: 768px) {
  .container-home {
    height: 83vh;
  }
  .homerburguer{
    width: 27%;
  }
}

@media (min-width: 200px) and (max-width: 549px) {
  .container-home {
    height: 83vh;
  }

  .homerburguer{
    display: none;
  }
}
