.main {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 3.5% 0;
    background-color: rgba(255, 255, 255, 0.324);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    padding: 15px 20px 25px 20px;
}

.form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

.form,input{
    margin: 0 2.5% 2.5% 2.5%;
    border-radius: 50px;
    border: none;
    width: 90%;
}

input{
    padding: 5%;
}

.button{
    width: 90%;
    padding: 5%;
    border-radius: 50px;
    border: none;
    color: #fff;
    background: #000;
    font-size: 1em;
}
